* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;;
}

h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #252C29;
    
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

/* container properties */
#wrapper {
    max-width: 50rem;
    min-height: 35rem;
    min-width: 20rem;
    margin: 0;
    display: block;

    background-color:#FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#wrapper-top{
    max-width: 50rem;
    min-height: 35rem;
    min-width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* tulisan atas */
h5{
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #252C29;

    padding-bottom: 1rem;
    margin: 0;
}

hr{
    border-top: 3px solid #222952;
    margin: 0;
}


/* setiap konten */
#wrapper_content{
    display: block;
    margin: 0;
    background-color: #FFFFFF;
    border: 1px solid #252C29;

    margin-top: 0.7rem;
}

.top p{
    padding-top: 0.8rem;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

    color: #252C29;

}

.top3 p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    color: #252C29;
    padding-top: 0.8rem;
}

.top2 p {
    padding-top: 0;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;

    color: #252C29;
}

.highlight {
    background-color: #3A4293;
    border-radius: 10px;
    padding: 1px 10px;

    color: #FFFFFF;
}

.top{
    display: flex;
}

.fa-times{
    color: #222952;
}

.bottom p{
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    color: #222952;
    padding-bottom: 1rem
}

.content_bawah{
    margin: 0;
}


.satu, .dua, .tiga{
    display: flex;
    min-width: 5rem;
}

.btn {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 0.5rem 1.4rem;
}

.centre-items{
    float: right;
}

.btn-primary{
    background-color: #252C29;
    margin-bottom: 1rem;
    border-radius: 50px;

    margin-right: 0;
    margin-left: auto;
}

.bottom button[type=button] {
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 50px;
    border: 1px solid #252C29;
    color: black;
    margin-right: 0;
    margin-left: auto;
}
.button{
    padding-top: 1.6rem;
    padding-left: 2.5rem;
    padding-bottom: 3rem;
}

.fotonya img{
    max-width: 6rem;
    max-height: 6rem;
}

.fotonya{
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.isinya{
    display: flex;
}

.tulisan-back{
    display: flex;
    justify-content: flex-start;
}

.tulisan-back p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #252C29;
}

.fa{
    color: #252C29;
    font-size: 0.5rem;
    padding-right: 0.5rem;
}