.bottom-footer p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #252C29;
}

.bottom-footer {
    margin-bottom: 1rem;
    margin-left: 2.3rem;
    margin-top: 2.5rem;
}