.logo {
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #252C29;
    padding: 0.2rem 0.5rem;

}

.top-footer button[type=button] {
    background-color: #FFFFFF;
    border: 3px solid #252C29;
    margin-bottom: 1rem;
    margin-left: 2.3rem;
    margin-top: 2.5rem;
}