{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href="{% static 'css/font-awsome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <link rel="stylesheet" href="{% static 'top-footer.css' %}">
    <link rel="stylesheet" href="{% static 'bottom-footer.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <!-- Custom styles for this template -->
 
    <title>AppaRental. - Product Detail</title>
  </head>

  <body>

    {% include 'top-footer.html' %}

    <section id="product-desc">

        <div class='profile'>
            <div class='row' style="margin: 0;">
                <div class='column'>
                    <a class="tulisan-back" href="#">
                        <i class="fa fa-arrow-circle-left"></i>
                        <p>Back to Products Page</p>
                    </a>
                    <div class='photo'>
                        <img src="{% static 'baju.png' %}">
                    </div>
                </div>
                <div class='column'>
                    <div class='biodata'>
                        <h1>H&M Yellow Bomber Jacket</h1>
                        <h2>Rp 80.000/ month</h2>
    
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea comodo consequat. Lorem ipsum dolor sit amet.
                        </p>
                      
                        <div class='bottom'>
                            <a href="#">
                                <button type="button" class="btn" style="margin-left: 2.5rem; margin-top: 3rem;">Rent Item</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!---->

    <section id="comment">

        <form action="." method="POST">
            {% csrf_token %}

            <div class="formulir">
                {{formulir}}
            </div>

            <div class="tombol">
                <input type="submit" class="submit" value="Submit">
            </div>
        </form>
        
        <div class="comments">
            <h4>Comments</h4>
            <hr>

            {% for object in comments %}

            <div class="cont" id="wrapper_content">
                <div class='top'>
                    <p class="tanggal" style="margin: 0;">
                        Posted on : {{object.date}}
                    </p>
                </div>
                <div class='bottom'>
                    <p class="harga_item">
                        {{object.comment}}
                    </p>
                </div>
            </div>

            {% endfor %}

        </div>
    </section>

    <!---->

    {% include 'bottom-footer.html' %}

    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

  </body>

</html>