{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href="{% static 'css/font-awsome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'start.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">
 
    <title>Apparental</title>
</head>

<body>
    
    <div class="top-footer">
        <a href="#">
            <button type="button" class="logo">AppaRental.</button>
        </a>
    </div>

    <div class="container-fluid" id="wrapper-top">
        <div id = "cont">
            <h3>Start selling your items now!</h3>
            <div class="row mx-lg">
                <div class="col-12 col-md"  id = "box">
                    <ul>
                        <li>
                            <br>
                            <br>
                            <br>
                            <p class="status">
                                Waiting for Approval
                            </p>
                            <br>
                            <br>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md"  id = "box">
                    <ul>
                        <li>
                            <br>
                            <br>
                            <br>
                            <p class="status">
                                Add New Item
                            </p>
                            <br>
                            <br>
                        </li>
                    </ul>                       
                </div>
            </div>
            <a href=""><< return to home</a>
            
        </div>
    </div>
    
     <div class="bottom-footer">
        <p>© 2019 All rights served</p>
    </div>
    <!-- Optional JavaScript -->
    <script src="jquery-3.3.1.slim.min.js}"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

</body>

</html>