<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Baju di Toko</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/font-awesome.min.css' %}">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Asap:700|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="parent">

            <div class="image-children">
                <div><i class="fas fa-chevron-circle-left"></i></div>
                <img src="{% static 'images/jaket.jpg' %}" alt="Jaket Dilan" width="300px" heigth="300px"/> 
            </div>

            <div class="paragraph-children">
                <h1>Ini bukan jaket</h1>
                <h2>Rp 0000000</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa quio
                fficia deserunt mollit anim id est laborum.</p>
                <button type="button" class="btn btn-dark">Rent Item</button>
            </div>
    </div>

</body>
</html>